{% extends 'base.html' %}

{% block content %}
  <h1>index</h1>
  {% if request.user.is_authenticated %}
  {% comment %} reviews {% endcomment %}
    <a class="btn btn-primary" href="{% url 'reviews:index' %}">review index</a>
    <a class="btn btn-primary" href="{% url 'reviews:create' %}">review create</a>
  {% endif %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">title</th>
      </tr>
    </thead>
    <tbody>
      {% for review in reviews%}
      <tr>
        <th scope="row">1</th>
        <td><a href="{% url 'reviews:detail' review.pk %}" class="text-decoration-none text-black">{{review.title}}</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
